<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.momo_2.finalapplication_20151222" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="I Draw You Guess"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".MainActivity"
            android:label="I Draw You Guess" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumPeoActivity"
            android:label="@string/title_activity_num_peo" >
        </activity>
        <activity
            android:name=".DrawOneActivity"
            android:label="@string/title_activity_draw_one" >
        </activity>
        <activity
            android:name=".DrawNextActivity"
            android:label="@string/title_activity_draw_next" >
        </activity>
        <activity
            android:name=".ReadyActivity"
            android:label="@string/title_activity_ready" >
        </activity>
        <activity
            android:name=".FinalActivity"
            android:label="@string/title_activity_final" >
        </activity>
        <activity
            android:name=".GuessActivity"
            android:label="@string/title_activity_guess" >
        </activity>
        <activity
            android:name=".OKActivity"
            android:label="@string/title_activity_ok" >
        </activity>
        <activity
            android:name=".NOActivity"
            android:label="@string/title_activity_no" >
        </activity>
    </application>

</manifest>
